<% layout('layouts/boilerplate') %>
    <h1>Campgrounds List</h1>
    <a href="/campgrounds/new">Add New Campground</a>
    <div class="container">
        <% grounds.forEach(ground=> { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-4">
                        <img src="<%= ground.image %>" class="card-img-top" alt="<%= ground.title %>">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= ground.title %>
                            </h5>
                            <p class="card-text">
                                <%= ground.description %>
                            </p>
                            <a href="/campgrounds/<%= ground._id %>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>