<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card w-100 mb-5" style="width: 18rem;">
                <img src="<%= ground.image %>" class="card-img-top" alt="<%= ground.title %>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= ground.title %>
                    </h5>
                    <p class="card-text">
                        <%= ground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= ground.location %></li>
                    <li class="list-group-item">¥<%= ground.price %>/night</li>
                </ul>
                <div class="card-body">
                    <a href="/campgrounds" class="card-link">Back to List</a>
                    <a href="/campgrounds/<%= ground._id %>/edit" class="card-link">Edit</a>
                </div>
            </div>
        </div>
    </div>